body {
  font-family: Arial, sans-serif;
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

select {
  width: 150px;
  height: 150px;
  overflow: scroll;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.App-logo {
  width: 100px;
  height: auto;
}

.dropdown {
  font-size: 16px;
  width: 100%;
  padding: 8px;
}

.saved-phrases {
  max-height: 200px;
  overflow-y: auto; /* Add scroll bar for overflow */
  margin: 10px 0;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  position: relative; /* Ensure relative positioning for the scroll bar */
}

.saved-phrases::-webkit-scrollbar {
  width: 10px; /* Set the width of the scrollbar */
}

.saved-phrases::-webkit-scrollbar-track {
  background: #f1f1f1; /* Set the background color of the scrollbar track */
}

.saved-phrases::-webkit-scrollbar-thumb {
  background: #888; /* Set the color of the scrollbar thumb */
  border-radius: 5px; /* Add rounded corners to the scrollbar thumb */
}

.saved-phrases::-webkit-scrollbar-thumb:hover {
  background: #555; /* Set the color of the scrollbar thumb on hover */
}

/* Scroll buttons */
.scroll-button {
  position: absolute;
  top: 0;
  width: 10px;
  height: 10px;
  background-color: #ccc;
  cursor: pointer;
  opacity: 0.5; /* Set initial opacity for hover effect */
  transition: opacity 0.3s ease; /* Add transition effect for opacity change */
}

.scroll-button:hover {
  opacity: 1; /* Change opacity on hover */
}

.scroll-button-up {
  left: calc(50% - 5px); /* Position horizontally at the middle */
}

.scroll-button-down {
  left: calc(50% - 5px); /* Position horizontally at the middle */
  bottom: 0;
}

.phrase-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.phrase-display {
  margin-right: 10px;
}

/* Flex container for icon and title */
.icon-title-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.icon-title-container img {
  width: 150%; /* Make the icon 50% bigger */
  margin-right: 10px;
}

.your-phrase {
  font-weight: bold;
  color: #ff5733; /* Orange color */
}

.current-phrase {
  font-size: 2em; /* Double the font size */
}

.save-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4caf50; /* Green color */
  color: white;
  border: none;
  border-radius: 5px;
}

.save-button:hover {
  background-color: #45a049; /* Darker green on hover */
}

.progress-bar-container {
  width: 100%;
  height: 20px;
  background-color: #f0f0f0;
  border-radius: 5px;
  margin-top: 10px;
}

.progress-bar {
  height: 100%;
  background-color: #4caf50;
  border-radius: 5px;
  transition: width 0.1s linear;
}
